body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
.sectionbg{
    background-image: url(images/top-banner.png);
    background-repeat:no-repeat;
}
h1{
    font-size: 40px;
}
.colort{
    color:orange;
}
.flexclass{
    display:flex;
    padding-left: 7%;
}
.widthhalf{
    width:50%;
}
img{
    width:80%;
}
.buttonme{
    text-decoration: none;
    background-image:linear-gradient(rgb(255, 183, 170), rgb(214, 49, 49));
    padding:10px 40px;
    border-radius: 5px;
    color:white;
    font-weight: 700;
}
.bgclass{
    background-image: url(images/dream-bg.png);
    background-position:right bottom;
    background-repeat:no-repeat;
    margin-bottom:50px;
}
footer{
    text-align: center;
    color:gray;
}
.section3{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;

    margin-bottom: 100px;
}
.flexclasss{
    display:flex;

}
.full-stack{
    border-left:7px solid;
    border-image:linear-gradient(tomato,red);
    border-image-slice: 1;
    
    box-shadow: 5px 5px 25px rgb(219, 208, 188);
    

}
.baby{
    border-left:7px solid;
    border-image:linear-gradient(blue,cyan);
    border-image-slice: 1;
    
    box-shadow: 5px 5px 25px rgb(219, 208, 188);

}
.boxs{
    width:40%;
margin-left: 5%;
padding: 20px;
}